#header {
  position: fixed;
  top:0px;
  left:20%;
  right:20%;
  padding:5px;
  z-index:100;
  font-size: 25px;
}
#map {
  position: absolute;
  top: 30px;
  bottom: 30px;
  z-index: -1;
}
#zoom {
  position: fixed;
  bottom:40px;
  left:32%;
  z-index:100;
}